 <nav class="navbar">
      <div class="navbar-title">
        <h1>The Buoyent Bubble</h1>
      </div>

      <div class="navbar-li-wrapper">
        <ul class="navbar-ul">
          <li id="home"> <a href="/"> Home</a> </li>
          <li id="about"> <a href="/about">About</a>  </li>
          <li id="help"> <a href="/help">Help</a>  </li>
          {{!-- <li id="post"> <a href="/compose">Post</a> </li> --}}
        </ul>
      </div>
</nav>