

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
  
    <title>Help Bubble</title>
  </head>

  <body>
      {{> header}}
          {{> nav}}
    <div class="main">
    <div class="container">
  <h1>Help</h1>
  <p> For additional assistant with the application, you may contact help@chatterbug.io </p>
 
 </div>
 {{>footer}}
 </div>
  </body>
</html>